@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
  background-color: #282b28;
}

.game {
  width: 450px;
  height: 550px;
  background-color: #F1EFDC;
  border-radius: 20px;
  margin: 80px auto;
}

/* ENCABEZADO */
.title {
  font-family: 'Rampart One', cursive;
  color: #42032C;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px auto 5px;
}

.subtitle {
  color: #42032C;
  font-size: 20px;
  margin-top: 5px;
}

/* PANEL PARA ESCOGER GUERREROS */
#choose-warrior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  gap: 10px;
}

.mokepoke-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #E6D2AA;
  color: #42032C;
  box-shadow: 2px 2px 2px #42032C;
  width: 100px;
  height: 120px;
  padding: 10px;
  border-radius: 20px;
  margin: 5px 10px 10px;
  font-weight: bold;
}

.mokepoke-card:hover {
  background-color: #E7C786;
}
.mokepoke-card:active {
  background-color: #F1EFDC;
}
input:checked + label {
  background-color: #E7C786;
  box-shadow: 2px 2px 2px #D36B00;
}

.warrior1 {
  margin-top: 10px;
}

.warrior2 {
  margin-top: 6px;
}

.warrior {
  margin-top: 4px;
}

p {
  color: #42032C;
  margin: 0;
  text-align: center;
}

.mokepoke-card img {
  width: 80px;
}

input {
  display: none;
}

/* BOTÓN DE SELECCIONAR*/
#button-warrior {
  box-sizing: border-box;
  padding: 5px;
  width: 80px;
  height: 30px;
  background-color: #D36B00;
  border: none;
  box-shadow: 2px 2px 2px #42032C;
  border-radius: 20px;
  margin: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #42032C;
}

#button-warrior:hover {
  background-color: #E37300;
}

#button-warrior:active {
  background-color: #E6D2AA;
}

/* PANEL PARA ESCOGER ATAQUES*/
#choose-attack {
  flex-direction: column;
  align-items: center;
}

.attack-buttons {
  background-color: #E6D2AA;
  box-shadow: 2px 2px 2px #42032C;
  color: #42032C;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  width: 80px;
  height: 25px;
  font-size: 13px;
  font-weight: bold;
}

.attack-buttons:hover {
  background-color: #E7C786;
}

#messages {
  width: 200px;
  font-size: 20PX;
  background: #D36B00;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

#restart-button {
  border: none;
  color: #42032C;
  background-color: #E6D2AA;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #42032C;
  font-weight: bold;
  margin-top: 12px;
}

#restart-button:hover {
  background-color: #E7C786;
}
#restart-button:active {
  background-color: #F1EFDC;
}

.stats {
  display: grid;
  grid-template-columns: 100px 100px;
  margin-top: 20px;
}

.pattack, .eattack {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

@media (max-width: 360px) {
  .tarjetas {
    flex-direction: column;
  }

}